name: "Meraki WPN Portal"
description: "Self-service WiFi registration portal for Cisco Meraki networks with IPSK management"
version: "1.0.3"
slug: "meraki-wpn-portal"
arch:
  - amd64
url: "https://github.com/liptonj/hassio-addons"
init: false
startup: application
ingress: true
ingress_port: 8099
panel_icon: "mdi:wifi-plus"
panel_title: "WPN Portal"
ports:
  8080/tcp: 8080
ports_description:
  8080/tcp: "Public registration portal"
map:
  - config:rw
  - ssl:ro
services:
  - mysql:want

options:
  run_mode: "homeassistant"
  ha_url: "http://supervisor/core"
  ha_token: ""
  property_name: "My Property"
  logo_url: ""
  primary_color: "#00A4E4"
  default_network_id: ""
  default_ssid_number: 0
  default_group_policy_id: ""
  auth_self_registration: true
  auth_invite_codes: true
  auth_email_verification: false
  auth_sms_verification: false
  require_unit_number: true
  unit_source: "ha_areas"
  manual_units: []
  default_ipsk_duration_hours: 0
  passphrase_length: 12
  admin_notification_email: ""
  admin_username: ""
  admin_password: ""
  enable_oauth: false
  oauth_provider: "none"
  oauth_admin_only: false
  duo_client_id: ""
  duo_client_secret: ""
  duo_api_hostname: ""
  entra_client_id: ""
  entra_client_secret: ""
  entra_tenant_id: ""
  oauth_callback_url: ""
  db_type: "sqlite"
  db_host: ""
  db_port: 3306
  db_name: "meraki_wpn_portal"
  db_user: ""
  db_password: ""
  freeradius_enabled: false
  freeradius_api_url: ""
  freeradius_api_token: ""

schema:
  run_mode: list(standalone|homeassistant)?
  ha_url: str?
  ha_token: password?
  property_name: str?
  logo_url: url?
  primary_color: str?
  default_network_id: str?
  default_ssid_number: int(0,14)?
  default_group_policy_id: str?
  auth_self_registration: bool?
  auth_invite_codes: bool?
  auth_email_verification: bool?
  auth_sms_verification: bool?
  require_unit_number: bool?
  unit_source: list(ha_areas|manual_list|free_text)?
  manual_units:
    - str
  default_ipsk_duration_hours: int(0,8760)?
  passphrase_length: int(8,32)?
  admin_notification_email: email?
  admin_username: str?
  admin_password: password?
  enable_oauth: bool?
  oauth_provider: list(none|duo|entra)?
  oauth_admin_only: bool?
  duo_client_id: str?
  duo_client_secret: password?
  duo_api_hostname: str?
  entra_client_id: str?
  entra_client_secret: password?
  entra_tenant_id: str?
  oauth_callback_url: url?
  db_type: list(sqlite|mysql|postgresql)?
  db_host: str?
  db_port: int(1,65535)?
  db_name: str?
  db_user: str?
  db_password: password?
  freeradius_enabled: bool?
  freeradius_api_url: url?
  freeradius_api_token: password?
