[MASTER]
# Use multiple processes to speed up Pylint
jobs=1

# Pickle collected data for later comparisons
persistent=yes

# When enabled, pylint would attempt to guess common misconfiguration and emit
# user-friendly hints instead of false-positive error messages.
suggestion-mode=yes

[MESSAGES CONTROL]
# Disable specific warnings
disable=
    redefined-outer-name,
    protected-access,
    broad-exception-caught,
    logging-fstring-interpolation,
    import-outside-toplevel,
    global-statement,
    unused-argument,
    too-few-public-methods,
    too-many-arguments,
    fixme,
    invalid-name,
    missing-module-docstring,
    missing-class-docstring,
    missing-function-docstring,
    trailing-whitespace,
    line-too-long,
    import-error

[REPORTS]
# Set the output format
output-format=text

# Tells whether to display a full report or only the messages
reports=no

# Python expression which should return a score less than or equal to 10
evaluation=10.0 - ((float(5 * error + warning + refactor + convention) / statement) * 10)

[BASIC]
# Good variable names which should always be accepted
good-names=i,j,k,ex,Run,_,e,f,fp,db,id,pk

[FORMAT]
# Maximum number of characters on a single line
max-line-length=120

[DESIGN]
# Maximum number of arguments for function / method
max-args=10

# Maximum number of locals for function / method body
max-locals=20
